{{template "base" .}}

{{define "css"}}
    <style>
        #wine-map {
            height: auto;
            max-width: 100%;
        }
    </style>
{{end}}

{{define "content"}}
    <div class="row">
        <div class="col-6" style="text-align: center;">
            <img src="/static/images/vignobles_de_france.jpg" alt="Map" id="wine-map">
        </div>

        <div class="col-6" style="text-align: center;">
        </div>
    </div>
{{end}}