{{template "base" .}}

{{define "content"}}
    {{$wine := index .Data "wine"}}

    <div class="row" id="page-title">
        <h3>{{$wine.Name}}</h3>
    </div>

    <div class="row justify-content-center">
        <div class="col-10">
            <div class="row">
                Domaine : {{$wine.Domain}}
            </div>
            <div class="row">
                Année : {{$wine.Year}}
            </div>
            <div class="row">
                Appellation : {{$wine.Appellation}}
            </div>
            <div class="row">
                Origine géographique : {{$wine.Location}}
            </div>
            <div class="row">
                Couleur : {{$wine.Domain}}
            </div>
            <div class="row">
                Culture : {{$wine.Culture}}
            </div>
            <div class="row">
                Cépage(s) : {{$wine.Varieties}}
            </div>
            <div class="row">
                Robe : {{$wine.Robe}}
            </div>
            <div class="row">
                Nez : {{$wine.Nose}}
            </div>
            <div class="row">
                Palais : {{$wine.Taste}}
            </div>
            <div class="row">
                Association de plats : {{$wine.Dishes}}
            </div>
            <div class="row">
                Saison : {{$wine.Season}}
            </div>
        </div>
    </div>
{{end}}